@if (paginatedMembers(); as paginatedResult) {
    @if (paginatedResult.metaData; as metaData) {
        <app-paginator
            [pageNumber]="metaData.currentPage"
            [totalCount]="metaData.totalCount"
            [pageSize]="metaData.pageSize"
            [totalPages]="metaData.totalPages"
            (pageChange)="onPageChange($event)"
        />
    }

    @if (paginatedResult.items; as members) {
        <div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-6">
            @for (member of members; track member.id){
                <app-member-card [member]="member" />
            }  
        </div>
    }
}

